In [1]:
#Import dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [3]:
# Adding G Key

g_key = "AIzaSyAXQmoW9O18TcyAoaSAjTuJdnDU5uJW78Q"

In [4]:
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date            int64
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [5]:
#configure g-maps
gmaps.configure(api_key=g_key)

In [6]:
#Create coordinates
locations = city_data_df[['Lat','Lng']]
rating = city_data_df['Humidity'].astype(float)
humidity = city_data_df['Humidity']

fig = gmaps.figure()

#Create heat layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

#Add layer to fig
fig.add_layer(heatmap_layer)

#display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Ideal Vacations Spots

* Max Temperature Less Than 75 Degrees And Greater than 60 Degrees

* Windspeed Less Than 5 Miles per hour

* Cloudiness Equal to Zero

In [22]:
vacation_city_df = city_data_df.loc[(city_data_df['Max Temp'] < 75) & (city_data_df['Max Temp'] > 60)\
                                   & (city_data_df["Wind Speed"] < 5) \
                                   &(city_data_df['Cloudiness'] == 0)].dropna()

vacation_city_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
141,141,sanchazi,0,CN,1558378781,82,30.43,103.62,64.40,2.24
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78
508,508,noumea,0,NC,1558378811,77,-22.28,166.46,64.40,2.24
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24

In [23]:
vacation_hotel_df = vacation_city_df[["City", "Country", "Lat", "Lng"]].copy()
vacation_hotel_df['Hotel Name'] = ''
vacation_hotel_df

                 City Country    Lat     Lng Hotel Name
141          sanchazi      CN  30.43  103.62
297             mogok      MM  22.92   96.51
346          chiredzi      ZW -21.05   31.67
508            noumea      NC -22.28  166.46
538  la seyne-sur-mer      FR  43.10    5.88

In [32]:
#Hotel search points  (day 3, activity 2)
params = {'radius': 5000,
         'types':'lodging',
         'key': g_key}

#Search path for each location using lat and lng

for index, row in vacation_hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params['location'] = f"{lat},{lng}"
    
    
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)

    #convert results to json
    name_address = response.json()
                        
    #Grab the first hotel from the resuls and store the name
    try:
       vacation_hotel_df.loc[index, "Hotel Name"] = name_address['results'][0]['name']
    except (KeyError, IndexError):
        print("Missing field/result....skipping.")
                        
vacation_hotel_df

,City,Country,Lat,Lng,Hotel Name
141,sanchazi,CN,30.43,103.62,Yingbin Hotel
297,mogok,MM,22.92,96.51,MOGOK HILL HOTEL
346,chiredzi,ZW,-21.05,31.67,The Nesbitt Arms
508,noumea,NC,-22.28,166.46,Hôtel Le Lagon
538,la seyne-sur-mer,FR,43.10,5.88,Zenitude Hôtel-Résidences Toulon Six Fours

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in vacation_hotel_df.iterrows()]
locations = vacation_hotel_df[["Lat", "Lng"]]

In [36]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))